.city {
  font-style: 30px;
  font-weight: 400;
  text-transform: capitalize;
}

.city__date {
  font-size: 10px;
  font-weight: 400;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 77px;
  left: 20%;
  color: #ffffff;
}

.output__temp {
  font-size: 64px;
  letter-spacing: -8%;
  font-weight: 400;
  margin-right: 20px;
}

.temp__wrapper {
  position: relative;
}

.circle {
  width: 18px;
  height: 18px;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 0;
}

@media screen and (width > 375px) {
  .output {
    top: 60%;
    left: 10%;
  }

  .output__temp {
    font-size: 143px;
  }

  .city {
    font-style: 60px;
  }

  .city__date {
    font-size: 18px;
  }

  .city__inner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .circle {
    width: 24px;
    height: 24px;
    border: 7px solid white;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 0;
  }
}
